@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ICollection<NoixMagicroquanteWebsite.Models.User>
@{
    Layout = "_Layout";
    ViewBag.Title = ViewBag.Title;
}

@if (Model.Count() == 0)
{
    <div class="center">
        <h1>Il n'y a pas encore d'utilisateurs !</h1>
    </div>
}
else
{
    <div class="text-end">
        <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#createUserModal">
            <i class="fa-solid fa-circle-plus"></i> Créer un utilisateur
        </button>
    </div>

    <div class="center-top">
        <table class="shadow text-center">
            <thead class="table-head-background">
                <tr class="align-middle text-color">
                    <th scope="col">Id</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Nom d'utilisateur</th>
                    <th scope="col">Courriel</th>
                    <th scope="col">Administrateur</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr class="align-middle">
                        <th scope="row">@user.UserId</th>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        @if (user.IsAdmin == false)
                        {
                            <td>Non</td>
                        }
                        else
                        {
                            <td>Oui</td>
                        }
                        <td>
                            <button type="button" class="btn btn-primary editBtn" data-user-id="@user.UserId" data-bs-toggle="modal" data-bs-target="#editUserModal">Modifier</button>
                            <a class="btn btn-danger" href="@Url.Action("Delete", "Account", new { id = user.UserId })">Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Modal de création -->
    <div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content card-background">
                <div class="modal-header">
                    <h5 class="modal-title text-color" id="createUserModalLabel">Créer un utilisateur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="createUserForm">
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="field-background user-info form-group">
                            <label for="FirstName"><b>Prénom :</b></label>
                            <input type="text" for="FirstName" name="FirstName" class="form-control" placeholder="Entrez votre prénom" />
                            <span id="FirstNameError" class="text-danger"></span>
                        </div>
                        <div class="field-background user-info form-group">
                            <label for="LastName"><b>Nom :</b></label>
                            <input type="text" name="LastName" class="form-control" placeholder="Entrez votre nom" />
                            <span id="LastNameError" class="text-danger"></span>
                        </div>
                        <div class="field-background user-info form-group">
                            <label for="UserName"><b>Nom d'utilisateur :</b></label>
                            <input type="text" name="UserName" class="form-control" placeholder="Entrez votre nom d'utilisateur" />
                            <span id="UserNameError" class="text-danger"></span>
                        </div>
                        <div class="field-background user-info form-group">
                            <label for="Email"><b>Courriel :</b></label>
                            <input type="email" name="Email" class="form-control" placeholder="Entrez votre courriel" />
                            <span id="EmailError" class="text-danger"></span>
                        </div>
                        <div class="field-background user-info form-group">
                            <label for="IsAdmin"><b>Administrateur :</b></label>
                            <select name="IsAdmin" class="form-select">
                                <option value="false">Non</option>
                                <option value="true">Oui</option>
                            </select>
                        </div>
                        <div class="field-background user-info form-group">
                            <label for="Password"><b>Mot de passe :</b></label>
                            <input type="password" for="Password" name="Password" class="form-control" placeholder="Entrez votre mot de passe" />
                            <span id="PasswordError" class="text-danger"></span>
                        </div>
                        <div class="field-background user-info form-group">
                            <label for="ConfirmPassword"><b>Confirmation du mot de passe :</b></label>
                            <input type="password" name="ConfirmPassword" class="form-control" placeholder="Confirmer votre mot de passe" />
                            <span id="ConfirmPasswordError" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Créer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal de modification -->
    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content card-background">
                <div class="modal-header">
                    <h5 class="modal-title text-color" id="editUserModalLabel">Modifier un utilisateur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="editUserForm">
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="field-background user-info form-group">
                            <input type="hidden" id="editUserId" for="UserId" name="UserId" class="form-control" />
                            <label for="FirstName"><b>Prénom :</b></label>
                            <input type="text" id="editFirstName" for="FirstName" name="FirstName" class="form-control" placeholder="Entrez votre prénom" />
                            <span id="editFirstNameError" class="text-danger"></span>
                        </div>
                        <div class="field-background user-info form-group">
                            <label for="LastName"><b>Nom :</b></label>
                            <input type="text" id="editLastName" name="LastName" class="form-control" placeholder="Entrez votre nom" />
                            <span id="editLastNameError" class="text-danger"></span>
                        </div>
                        <div class="field-background user-info form-group">
                            <label for="UserName"><b>Nom d'utilisateur :</b></label>
                            <input type="text" id="editUserName" name="UserName" class="form-control" placeholder="Entrez votre nom d'utilisateur" />
                            <span id="editUserNameError" class="text-danger"></span>
                        </div>
                        <div class="field-background user-info form-group">
                            <label for="Email"><b>Courriel :</b></label>
                            <input type="email" id="editEmail" name="Email" class="form-control" placeholder="Entrez votre courriel" />
                            <span id="editEmailError" class="text-danger"></span>
                        </div>
                        <div class="field-background user-info form-group">
                            <label for="IsAdmin"><b>Administrateur :</b></label>
                            <select id="editIsAdmin" name="IsAdmin" class="form-select">
                                <option value="false">Non</option>
                                <option value="true">Oui</option>
                            </select>
                        </div>
                        <div class="field-background user-info form-group">
                            <label for="Password"><b>Mot de passe :</b></label>
                            <input type="password" for="Password" name="Password" class="form-control" placeholder="Entrez votre mot de passe" />
                            <span id="editPasswordError" class="text-danger"></span>
                        </div>
                        <div class="field-background user-info form-group">
                            <label for="ConfirmPassword"><b>Confirmation du mot de passe :</b></label>
                            <input type="password" name="ConfirmPassword" class="form-control" placeholder="Confirmer votre mot de passe" />
                            <span id="editConfirmPasswordError" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}