@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="w-100">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light align-items-center">
            <!-- Bouton hamburger pour les petits écrans, placé à gauche du logo -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="~/home/index"><img class="logo" src="~/images/Logo.png" alt="logo.png"></a>

            <!-- Contenu de la barre de navigation -->
            <div class="collapse navbar-collapse" id="navbarToggler">
                <!-- Elements à gauche -->
                <div class="navbar-nav">
                    <a class="nav-item nav-link navtextcolor animate-hover @(ViewBag.Title == "Noix MagiCroquantes - Accueil" ? "active-link" : "")" href="~/home/index"><i class="fa-solid fa-house-chimney"></i> Accueil</a>
                    <a class="nav-item nav-link navtextcolor animate-hover @(ViewBag.Title == "Noix MagiCroquantes - Produits" ? "active-link" : "")" href="~/product/index"><i class="fa-solid fa-box-open"></i> Produits</a>
                    <a class="nav-item nav-link navtextcolor animate-hover @(ViewBag.Title == "Noix MagiCroquantes - Contact" ? "active-link" : "")" href="~/home/contact"><i class="fa-solid fa-address-book"></i> Contact</a>
                </div>
                <!-- Elements à droite -->
                <div class="navbar-nav ms-auto">
                    @if (ViewBag.UserId == null)
                    {
                        <a class="nav-item nav-link navtextcolor animate-hover @(ViewBag.Title == "Noix MagiCroquantes - Panier" ? "active-link" : "")" href="~/basket/index"><i class="fa-solid fa-basket-shopping"></i> Panier</a>
                        <a class="nav-item nav-link navtextcolor animate-hover @(ViewBag.Title == "Noix MagiCroquantes - Connexion" ? "active-link" : "")" href="~/account/login"><i class="fa-solid fa-right-to-bracket"></i> Connexion</a>
                    }
                    else
                    {
                        if (ViewBag.IsAdmin == 1)
                        {
                            <a class="nav-item nav-link navtextcolor animate-hover @(ViewBag.Title == "Noix MagiCroquantes - Facture" ? "active-link" : "")" href="~/facture/index"><i class="fa-solid fa-file-invoice-dollar"></i> Facture</a>
                            <a class="nav-item nav-link navtextcolor animate-hover @(ViewBag.Title == "Noix MagiCroquantes - Utilisateurs" ? "active-link" : "")" href="~/account/users"><i class="fa-solid fa-users"></i> Utilisateurs</a>
                        }
                        else
                        {
                            <a class="nav-item nav-link navtextcolor animate-hover @(ViewBag.Title == "Noix MagiCroquantes - Panier" ? "active-link" : "")" href="~/basket/index"><i class="fa-solid fa-basket-shopping"></i> Panier</a>
                        }
                        <a class="nav-item nav-link navtextcolor animate-hover @(ViewBag.Title == "Noix MagiCroquantes - Compte" ? "active-link" : "")" href="~/account/index"><i class="fa-solid fa-user"></i> Mon Compte</a>
                        <a class="nav-item nav-link navtextcolor animate-hover" href="~/account/logout"><i class="fa-solid fa-right-from-bracket"></i> Déconnexion</a>
                    }
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="~/js/script.js"></script>
</body>
</html>